#seconds-num {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
}

#timer {
    border: 10px solid #00ffff;
    border-radius: 50%;
    padding: 1rem;
    width: 50px;
    aspect-ratio: 1/1;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 0.4rem;
}

#counter {
    margin-top: 6rem;
    text-align: center;
    font-weight: bold;
}

.question {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.logo-div {
    display: inline-block;
    width: 85%;
}

.options-btn {
    /* background-color: rgba(35, 41, 79, 0.2); */
    padding: 1.2rem 2.2rem;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    width: 100%;
    cursor: pointer;
    background: linear-gradient(rgba(31, 37, 78, 0) 0 0) padding-box,
        linear-gradient(to bottom, #f3f0f4, #75727322) border-box;
    border: 3px solid transparent;
}

.options-btn:hover {
    background: linear-gradient(#d20094 0 0) padding-box, linear-gradient(to bottom, #f3f0f4, #dd29a7) border-box;
    border: 3px solid transparent;
}

.options-btn:focus {
    background: linear-gradient(#900080 0 0) padding-box, linear-gradient(to bottom, #f3f0f4, #961d88) border-box;
    border: 3px solid transparent;
}

.width-50 {
    margin: 20px;
    width: 43%;
}
