/* PAGINA RISULTATI css ring */
.main-result {
    text-align: center;
}

.correct-circle {
    stroke-dasharray: 659.7344572538565800771551104887;
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: #00FFFF;
}

.wrong-circle {
    stroke-dashoffset: 0%;
    stroke-dasharray: 659.7344572538565800771551104887;
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: #C2128D;
}

/* circumference = radius * 2 * PI = 659,4 */

.text-div-relative {
    position: relative;
}

.text-div-absolute {
    padding-block: 84px;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 0;
}

#text-inside-circle {
    display: inline-block;
    width: 133px;
    line-height: 1.2;
}

#text-inside-circle h6 {
    font-size: 10px;
    margin-block-end: 14px;
}

#text-inside-circle p {
    font-size: 9px;
}


.correct {
    text-align: left;
    padding-inline-end: 40px;
}

.wrong {
    text-align: right;
    padding-inline-start: 40px;
}

button {
    border: 1px solid;
    width: 164px;
    line-height: 39px;
    background: transparent;
    color: white;
}

.margin-bottom {
    margin-block-end: 40px;
}