/* PAGINA RISULTATI css ring */
.progress-ring__circle {
    stroke-dasharray: 360;
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dashoffset: ;
}

/* circumference = radius * 2 * PI = 659,4 */


#text-inside-circle {
    width: 100px;
    padding-block: 42px;
    margin: auto;
}

#text-inside-circle p,
h6 {
    font-size: 10px;

}

.correct {
    text-align: left;
    padding-inline-end: 40px;
}

.wrong {
    text-align: right;
    padding-inline-start: 40px;
}