body {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-size: 16px;

}

header {
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px
}

h1 {
    font-size: 60px;
    font-family: 'Outfit', sans-serif;
}

h2 {
    font-size: 50px;
    font-family: 'Outfit', sans-serif;
}

.logo {
    width: 9em;
    padding-block: 20px;
}

.text-bold {
    font-weight: bold;
}

.inline-box {
    display: inline-block;
}