body {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.logo {
    width: 9em;
    padding-left: 56px;
    padding-block: 20px;
}

span {
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}

title-fonts {
    font-family: 'Outfit', sans-serif;
}